<!DOCTYPE HTML> 
<html lang="en"> 
<head>
  <title>Pusher chat</title>
  <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/jquery.highlight.js"></script>
  <script type="text/javascript" charset="utf-8" src="http://js.pusherapp.com/1.6/pusher.min.js"></script>
  <% yield_content :head %>
</head>
<body>
  
  <div id="wrapper">
    
    <div id="main" class="rounded shadowed">
      <h1>http://<%= IP %>:4567 | <%= current_user ? current_user.user_name : 'logged out' %></h1>
      <div id="primary">
        <%= yield %>
      </div>
      <div id="status" class="rounded">disconnected</div>
    </div>
    
  </div>
  
</body>
</html>