<fieldset>
  <legend>Login</legend>
  <form id="post" method="post" action="/authorize">
    <p><input type="text" name="user[user_name]" placeholder="user name" /></p>
    <p><input type="text" name="user[email]" placeholder="email" /></p>
    <input type="submit" value="log me in" />
  </form>
</fieldset>