<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
    if(window['console']) {
      Pusher.log = function() {
        console.log(Array.prototype.slice.call(arguments, 0))
      }
    }
    
    $(function(){
      
      $('#status').text('connecting...');
      
      var pusher = new Pusher('cd9dd4f9a0f97e3a5bf1');
      
      pusher.bind('pusher:connection_established', function () {
        $('#status')
          .removeClass('disconnected')
          .addClass('connected')
          .text('connected');
      });
      
      /*------------------------------------------------------
      AJAX messages to server
      -------------------------------------------------------*/
      $('#post').submit(function () {
        var form = $(this),
            url = form.attr('action'),
            method = form.attr('method'),
            data = form.serialize(),
            body = form.find('input#body');
        
        $.ajax({
          type: method,
          url: url,
          data: data,
          success: function () {body.val('')}
        });
        return false;
      });
      
      /*------------------------------------------------------
      Subscribe to chat channel
      -------------------------------------------------------*/
      var chat = pusher.subscribe('private-chat');
      
      /*------------------------------------------------------
      Listen to messages
      -------------------------------------------------------*/
      chat.bind( 'message', function (message) {
        $('<li>')
          .text(message.user + ' dice: ' + message.body)
          .appendTo('#messages');
      });
    })
  </script>
<% end %>

<div class="clearfix">  

  <ul id="messages" class="rounded">
  
  </ul>
  
  <div id="sidebar">
    <h2>Online members</h2>
    <ul id="members">
      <li class="member online"> 
        <span class="avatar"><img src="http://www.gravatar.com/avatar/38fbbfd1ca6656064fe7ff2e708d79d8.png?s=40" valign="middle" /></span> 
        <span class="name">ismasan</span> 
      </li>
      <li class="member online"> 
        <span class="avatar"><img src="http://www.gravatar.com/avatar/38fbbfd1ca6656064fe7ff2e708d79d8.png?s=40" valign="middle" /></span> 
        <span class="name">juan</span> 
      </li>
    </ul>
  </div>
  
  
</div>

<fieldset>
  <form id="post" method="post" action="/messages">
    <input type="text" size="60" name="message[body]" placeholder="Say something" id="body" />
    <input type="submit" value="say it" />
  </form>
</fieldset>