<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
    if(window['console']) {
      Pusher.log = function() {
        console.log(Array.prototype.slice.call(arguments, 0))
      }
    }
    
    $(function(){
      
      $('#status').text('connecting...');
      
      var pusher = new Pusher('cd9dd4f9a0f97e3a5bf1');
      
      pusher.bind('pusher:connection_established', function () {
        $('#status')
          .removeClass('disconnected')
          .addClass('connected')
          .text('connected');
      });
      
      /*------------------------------------------------------
      AJAX messages to server
      -------------------------------------------------------*/
      $('#post').submit(function () {
        var form = $(this),
            url = form.attr('action'),
            method = form.attr('method'),
            data = form.serialize(),
            body = form.find('input#body');
        
        $.ajax({
          type: method,
          url: url,
          data: data,
          success: function () {body.val('')}
        });
        return false;
      });
      
      /*------------------------------------------------------
      Subscribe to chat channel
      -------------------------------------------------------*/
      var chat = pusher.subscribe('presence-chat');
      
      /*------------------------------------------------------
      Listen to messages
      -------------------------------------------------------*/
      chat.bind( 'message', function (message) {
        $('<li>')
          .text(message.user + ' dice: ' + message.body)
          .appendTo('#messages');
      });
      
      /*------------------------------------------------------
      Add a member
      -------------------------------------------------------*/
      function addMember (member) {
        var avatar = $('<span>').addClass('avatar');
        $('<img>').attr('src', member.user_info.gravatar_url).appendTo(avatar);
        var name = $('<span>').addClass('name').text(member.user_info.user_name);
        
        var li = $('<li>')
          .attr('id', member.user_id)
          .addClass('member')
          .append(avatar)
          .append(name)
          .appendTo('#members');
      }
      
      /*------------------------------------------------------
      Remove member
      -------------------------------------------------------*/
      function removeMember (member) {
        $('#members').find('#' + member.user_id).remove();
      }
      
      /*------------------------------------------------------
      Handle existing members
      -------------------------------------------------------*/
      chat.bind('pusher:subscription_succeeded', function (members) {
        $.each(members, function (i, member) {
          addMember(member)
        })
      });
      
      /*------------------------------------------------------
      Handle new member
      -------------------------------------------------------*/
      chat.bind('pusher:member_added', addMember);
      
      /*------------------------------------------------------
      Handle remove member
      -------------------------------------------------------*/
      chat.bind('pusher:member_removed', removeMember)
    })
  </script>
<% end %>

<div class="clearfix">  

  <ul id="messages" class="rounded">
  
  </ul>
  
  <div id="sidebar">
    <h2>Online members</h2>
    <ul id="members">

    </ul>
  </div>
  
  
</div>

<fieldset>
  <form id="post" method="post" action="/messages">
    <input type="text" size="60" name="message[body]" placeholder="Say something" id="body" />
    <input type="submit" value="say it" />
  </form>
</fieldset>