<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
    // your code here
  </script>
<% end %>

<ul id="messages" class="rounded">
  
</ul>

<fieldset>
  <form id="post">    
    <input type="text" size="60" name="message" placeholder="Say something" />
    <input type="submit" value="say it" />
  </form>
</fieldset>