<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
    if(window['console']) {
      Pusher.log = function() {
        console.log(Array.prototype.slice.call(arguments, 0))
      }
    }
    
    $(function(){
      
      $('#status').text('connecting...');
      
      var pusher = new Pusher('cd9dd4f9a0f97e3a5bf1');
      
      pusher.bind('pusher:connection_established', function () {
        $('#status')
          .removeClass('disconnected')
          .addClass('connected')
          .text('connected');
      });
      
      /*------------------------------------------------------
      AJAX messages to server
      -------------------------------------------------------*/
      $('#post').submit(function () {
        var form = $(this),
            url = form.attr('action'),
            method = form.attr('method'),
            data = form.serialize(),
            user_name = form.find('input#user_name'),
            body = form.find('input#body');
            
        if(user_name.val().trim() == '') {
          alert('User name!');
          user_name.focus();
          return false;
        }
        
        $.ajax({
          type: method,
          url: url,
          data: data,
          success: function () {body.val('')}
        });
        return false;
      });
      
      /*------------------------------------------------------
      Subscribe to chat channel
      -------------------------------------------------------*/
      var chat = pusher.subscribe('chat');
      
      /*------------------------------------------------------
      Listen to messages
      -------------------------------------------------------*/
      chat.bind( 'message', function (message) {
        $('<li>')
          .text(message.user + ' dice: ' + message.body)
          .appendTo('#messages');
      });
    })
  </script>
<% end %>

<ul id="messages" class="rounded">
  
</ul>

<fieldset>
  <form id="post" method="post" action="/messages">
    <input type="text" size="13" name="message[user]" placeholder="Your name" id="user_name" />
    <input type="text" size="60" name="message[body]" placeholder="Say something" id="body" />
    <input type="submit" value="say it" />
  </form>
</fieldset>